<!DOCTYPE html>
<html>
<head>
  <title>Simon Game</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <h1>Simon Game</h1>
  <h2>Press any key to start the game</h2>
  <h3>Highest Score: <b id="highScore"><%= highScore %></b></h3>

  <div class="btn-container">
    <div class="line-one">
      <div class="btn red" id="red">1</div>
      <div class="btn yellow" id="yellow">2</div>
    </div>
    <div class="line-2">
      <div class="btn green" id="green">3</div>
      <div class="btn purple" id="purple">4</div>
    </div>
  </div>

  <br>
  <br>
  <form class="form">
    <input 
      id="startInput" 
      type="text" 
      placeholder="Type anything to start..." 
      autofocus
    >
  </form>

  <br>
  <div id="rulesBox" class="rules">
  <h3>📜 Simon Game Rules</h3>
  <ul>
    <li>Watch the blinking colors carefully</li>
    <li>Repeat the exact color sequence</li>
    <li>Each level adds a new color</li>
    <li>One mistake and the game ends</li>
    <li>Type anything to start!</li>
  </ul>
</div>


  <script src="/js/app.js"></script>
</body>
</html>
